<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">编辑广告</div>
        </div>
        <div class="panel-body">
            <form action="" class="form-horizontal">
                <div class="clearfix form-list">
                     <label class="col-xs-2 control-label" for="">
          上传图片</label>
          <div class="col-xs-4">
            <%= file_field :@info, :class => 'form-control' %>
                </div>
            </form>
            <div class="block-mt">
        <%= submit_tag nil, :class => 'btn btn-warning' %>
        <%= link_to t('.cancel', :default => t("预览")),
                phone_homepages_path, :class => 'btn btn-default' %>
      </div>
        </div>
    </div>
</div>