	<div class="header">
		<a class="header-left" href="">
			<span class="ico-header-back"></span>
		</a>
		<h1>积分查询</h1>
		<button class="header-right"><span class="ico-scan"></span></button>
	</div>
	<!-- header end -->
	<div class="container has-top">
		<div class="score-s-header">
			<a class="ico-question" href="#"></a>
			<div class="score-scan">
				<div class="score-num">4234</div>
				<div class="f12">我的积分</div>
			</div>
			<a class="score-market" href="">
					积分商场
				<i class="ico-next"></i>
			</a>
		</div>
		<div class="sub-title score-title">
			<i class="ico-score mr5"></i>积分明细
		</div>
		<ul class="data-list">
			<li class="data-item">
				<div class="flex-fluid">2017-12-12&nbsp;11:12:12</div>
				<div>获得<span class="text-info">1000</span>积分</div>
			</li>
			<li class="data-item">
				<div class="flex-fluid">2017-12-12&nbsp;11:12:12</div>
				<div>获得<span class="text-info">1000</span>积分</div>
			</li>
			<li class="data-item">
				<div class="flex-fluid">2017-12-12&nbsp;11:12:12</div>
				<div>获得<span class="text-info">1000</span>积分</div>
			</li>
			<li class="data-item">
				<div class="flex-fluid">2017-12-12&nbsp;11:12:12</div>
				<div>获得<span class="text-info">1000</span>积分</div>
			</li>
			<li class="data-item">
				<div class="flex-fluid">2017-12-12&nbsp;11:12:12</div>
				<div>获得<span class="text-info">1000</span>积分</div>
			</li>
			<li class="data-item">
				<div class="flex-fluid">2017-12-12&nbsp;11:12:12</div>
				<div>获得<span class="text-info">1000</span>积分</div>
			</li>

		</ul>
	</div>