	<div class="header">
		<button class="header-left ico-close2" type="button"></button>
		<h1>选择城市</h1>
		<!-- <button class="header-right"><span class="ico-scan"></span></button> -->
	</div>
	<!-- header end -->
	<div class="container has-top">
		<div class="block-mb">
			<div class="sub-title">热门城市</div>
			<div class="ilblock-group">
				<ul class="float-ul wu3 clearfix">
					<li class="float-item">
						<a class="ilblock-item" href="">上海</a>
					</li>
					<li class="float-item">
						<a class="ilblock-item" href="">北京</a>
					</li>
					<li class="float-item">
						<a class="ilblock-item" href="">广州</a>
					</li>
					<li class="float-item">
						<a class="ilblock-item" href="">深圳</a>
					</li>
					<li class="float-item">
						<a class="ilblock-item" href="">武汉</a>
					</li>
					<li class="float-item">
						<a class="ilblock-item" href="">天津</a>
					</li>
					<li class="float-item">
						<a class="ilblock-item" href="">西安</a>
					</li>
					<li class="float-item">
						<a class="ilblock-item" class="city-item" href="">南京</a>
					</li>
					<li class="float-item">
						<a class="ilblock-item" href="">杭州</a>
					</li>
				</ul>
			</div>
		</div>
			

		<div class="city-chart">A</div>
		<div class="data-list">
			<a class="data-item" href="">安山</a>
			<a class="data-item" href="">安庆</a>
			<a class="data-item" href="">安阳</a>
			<a class="data-item" href="">安康</a>
			<a class="data-item" href="">安丘</a>
			<a class="data-item" href="">安顺</a>
			<a class="data-item" href="">阿克苏</a>
			<a class="data-item" href="">阿拉尔</a>
			<a class="data-item" href="">阿拉善盟</a>
			<a class="data-item" href="">安山</a>
			<a class="data-item" href="">安山</a>
		</div>
		<div class="city-chart">A</div>
		<div class="data-list">
			<a class="data-item" href="">安山</a>
			<a class="data-item" href="">安庆</a>
			<a class="data-item" href="">安阳</a>
			<a class="data-item" href="">安康</a>
			<a class="data-item" href="">安丘</a>
			<a class="data-item" href="">安顺</a>
			<a class="data-item" href="">阿克苏</a>
			<a class="data-item" href="">阿拉尔</a>
			<a class="data-item" href="">阿拉善盟</a>
			<a class="data-item" href="">安山</a>
			<a class="data-item" href="">安山</a>
		</div>
	</div>