	<div class="header">
		<a class="header-left" href="">
			<span class="ico-header-back"></span>
		</a>
		<h1>产品详情</h1>
	</div>
	<!-- header end -->
	<div class="container has-top">
		<div class="provide-detail-wrap">
			<div class="adapt-img">
				<img src="/assets/phone/images/provide-detail1.png" alt=""></div>
			<div class="adapt-img">
				<img src="/assets/phone/images/provide-detail2.png" alt=""></div>
			<div class="adapt-img">
				<img src="/assets/phone/images/provide-detail3.png" alt=""></div>
			<div class="adapt-img">
				<img src="/assets/phone/images/provide-detail4.png" alt=""></div>
			<div class="adapt-img">
				<img src="/assets/phone/images/provide-detail5.png" alt=""></div>
		</div>
		

	</div>