	<div class="header">
		<a class="header-left" href="">
			<span class="ico-header-back"></span>
		</a>
		<h1>积分查询</h1>
		<button class="header-right"><span class="ico-scan"></span></button>
	</div>
	<!-- header end -->
	<div class="container has-top">
		<div class="score-s-header">
			<a class="ico-question" href="#"></a>
			<div class="score-scan">
				<div class="score-num">4234</div>
				<div class="f12">我的积分</div>
			</div>
			<a class="score-market" href="">
					积分商场
				<i class="ico-next"></i>
			</a>
		</div>
		<ul class="coupon-list">
			<li class="coupon-item coupon-similar">
				<i class="dot-line"></i>
				<i class="coupon-tips">兑换券</i>
				<div class="coupon-left">
					￥<span class="coupon-price">30</span>
				</div>
				<div class="coupon-center">
					<div class="f16 text-tit">扣积分:</div>
					<span class="label label-similar mt5">25000</span>
				</div>
				<div class="coupon-right">
					<button class="btn-similar-hollow">立即兑换</button>
				</div>
			</li>
			<li class="coupon-item coupon-warning">
				<i class="dot-line"></i>
				<i class="coupon-tips">兑换券</i>
				<div class="coupon-left">
					￥<span class="coupon-price">60</span>
				</div>
				<div class="coupon-center">
					<div class="f16 text-tit">扣积分:</div>
					<span class="label label-warning mt5">2500</span>
				</div>
				<div class="coupon-right">
					<button class="btn-similar-hollow">立即兑换</button>
				</div>
			</li>
			<li class="coupon-item coupon-info">
				<i class="dot-line"></i>
				<i class="coupon-tips">兑换券</i>
				<div class="coupon-left">
					￥<span class="coupon-price">500</span>
				</div>
				<div class="coupon-center">
					<div class="f16 text-tit">扣积分:</div>
					<span class="label label-info mt5">2500</span>
				</div>
				<div class="coupon-right">
					<button class="btn-similar-hollow">立即兑换</button>
				</div>
			</li>
		</ul>
	</div>
	<div class="line-through">
		<span class="text">以上是积分兑换卷</span>
	</div>