<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
	body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=UkGlS1os9PpxMQ7l38Ov11AiWXHZrzOR"></script>
	<title>附近门店</title>
</head>
<body>
	<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");    // 创建Map实例	
	var lng,lat;
    var geolocation = new BMap.Geolocation();
    geolocation.getCurrentPosition(function (r) {
        if (this.getStatus() == BMAP_STATUS_SUCCESS) {
            // alert(r.point.lng + " ， " + r.point.lat);
            lng = r.point.lng;
            lat = r.point.lat;
            map.centerAndZoom(new BMap.Point(lng+0.00374531687912, lat+0.008774687519), 14);  // 初始化地图,设置中心点坐标和地图级别
			map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
			// map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
			map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

			var local = new BMap.LocalSearch(map, {
			  renderOptions:{map: map}
			});   
			
			local.searchInBounds("联通", map.getBounds());

			map.addEventListener("dragend",function(){
			    map.clearOverlays();
			    local.searchInBounds("银行", map.getBounds());
			});
        }
    });
	






</script>
