<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
	body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=UkGlS1os9PpxMQ7l38Ov11AiWXHZrzOR"></script>
	<!-- 加载百度地图样式信息窗口 -->
	<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
	<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
	<title>附近门店</title>
</head>
<body>
	<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");
	var point = new BMap.Point(116.331398,39.897445);
	map.centerAndZoom(point,12);
	var mypoint ;
	var geolocation = new BMap.Geolocation();
	var store = [<% @store_array.each do |s| %> {label:"<%= s['name'] %>",lat:<%= s['latitude'] %>, lng:<%= s['longitude'] %>}, <% end %>]
	geolocation.getCurrentPosition(function(r){
		if(this.getStatus() == BMAP_STATUS_SUCCESS){
			mypoint = r.point;
			var mk = new BMap.Marker(r.point);
			var latCurrent = r.point.lat;  
            var lngCurrent = r.point.lng;  
			// map.addOverlay(mk);//您的位置加标注
			map.panTo(r.point);

			var d = [
					{label:'广州天河墙固德高防水专卖店',lat:113.398109,lng:23.109886},
					{label:'广州市天河区讯发建材城金利德高防水专卖店',lat:113.391548,lng:23.115885},
				];

			for(var i=0;i<store.length;i++){
				var p = new BMap.Point(store[i].lat,store[i].lng);
				var m = new BMap.Marker(p); 
				var l = new BMap.Label(store[i].label,{offset:new BMap.Size(20,-10)});
				m.setLabel(l);
				m.addEventListener("click",attribute1);
				map.addOverlay(m);    //增加点	

				function attribute1(){
					var p = m.getPosition();  

					location.href="http://api.map.baidu.com/direction?origin="+latCurrent+","+lngCurrent+"&destination="+p.lat+","+p.lng+"&mode=driving&region=广州&output=html";  			

				}
			}

			/*var china_unicom_gz_p1 = new BMap.Point(113.398109,23.109886);
			var marker_china_unicom_gz_1 = new BMap.Marker(china_unicom_gz_p1); 
			var label1 = new BMap.Label("广州天河墙固德高防水专卖店",{offset:new BMap.Size(20,-10)});
			marker_china_unicom_gz_1.setLabel(label1);
			marker_china_unicom_gz_1.addEventListener("click",attribute1);
			map.addOverlay(marker_china_unicom_gz_1);    //增加点	

			function attribute1(){
				var p = marker_china_unicom_gz_1.getPosition();  

				location.href="http://api.map.baidu.com/direction?origin="+latCurrent+","+lngCurrent+"&destination="+p.lat+","+p.lng+"&mode=driving&region=广州&output=html";  			

			}


			var china_unicom_gz_p2 = new BMap.Point(113.391548,23.115885);
			var marker_china_unicom_gz_2 = new BMap.Marker(china_unicom_gz_p2); 
			var labe2 = new BMap.Label("广州市天河区讯发建材城金利德高防水专卖店",{offset:new BMap.Size(20,-10)});
			marker_china_unicom_gz_2.setLabel(labe2);
			marker_china_unicom_gz_2.addEventListener("click",attribute2);
			map.addOverlay(marker_china_unicom_gz_2);    //增加点	

			function attribute2(){
				var p = marker_china_unicom_gz_2.getPosition();  
				location.href="http://api.map.baidu.com/direction?origin="+latCurrent+","+lngCurrent+"&destination="+p.lat+","+p.lng+"&mode=driving&region=广州&output=html";  				

			}	*/

		}
		else {
			alert('failed'+this.getStatus());
		}        
	},{enableHighAccuracy: true})






	function callback(e)//单击热点图层
	{
		

	}




</script>