	<div class="header">
		<a class="header-left" href="/phone/homepages">
			<span class="ico-header-back"></span>
		</a>
		<h1>营销活动</h1>
		<button class="header-right"><span class="ico-scan"></span></button>
	</div>

	<div class="container has-top">
		<iframe src="/assets/phone/biglucky_html/1index.html" frameborder="0" height="100%" width="99%"></iframe>	
	</div>
