	<div class="header">
		<a class="header-left" href="/phone/homepages">
			<span class="ico-header-back"></span>
		</a>
		<h1>营销活动</h1>
		<button class="header-right"><span class="ico-scan"></span></button>
	</div>
