<div class="modal fade" id="modal_set_admin" tabindex="-1" role="dialog" aria-labelledby="modal_set_admin-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="modal-users-title">选择用户</h4>
      </div>
      <div class="modal-body">

        <div class="panel">
          <div class="panel-body">
            
            <div class="form-inline">
              <div class="form-group" style="margin-right: 10px;">
                <label for="modelSetAdmin--inputName">姓名：</label>
                <input type="text" class="form-control" id="modelSetAdmin--inputName" placeholder="">
              </div>
              <div class="form-group" style="margin-right: 10px;">
                <label for="modelSetAdmin--inputPhone">电话：</label>
                <input type="text" class="form-control" id="modelSetAdmin--inputPhone" placeholder="">
              </div>
              <button class="btn btn-warning" id="modelSetAdmin--buttonSearch">搜索</button>
            </div>

          </div>
        </div>

        <table class="table table-bordered">
          <thead>
          <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>电话</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody id="tbody--usersOfStore">
            <tr>
              <td colspan="4" class="text-center">请输入条件，点击“搜索”按钮进行查询</td>
            </tr>
          </tbody>
        </table>

        <div id="pageBody--usersOfStore" class="text-center"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">
  $(function() {
    // 获取用户数据
    function getUsersData(params) {
      var page = params && params.page ? params.page : 1;
      $.ajax({
        url: '/admin/users_of_store',
        method: 'GET',
        data: {
          name: $name.val(),
          phone: $phone.val(),
          page: page
        },
        success: function(res) {
          if(!res.success) {
            $tbody.html('<tr><td colspan="4" class="text-center text-danger">请求失败，请重试</td></tr>');
            return false;
          }

          if(res.data && res.data.length <= 0) {
            $tbody.html('<tr><td colspan="4" class="text-center">暂无数据</td></tr>');
            return false;
          }

          refreshTable(res);
          refreshPaging(res, page);
        },
        error: function(e) {
          $tbody.html('<tr><td colspan="4" class="text-center text-danger">请求失败，请重试</td></tr>');
        }
      });
    }

    function refreshTable(res) {
      var _html = '';
      var users = res.data;
      for(var i = 0, L = users.length, user = null; i < L; i++) {
        user = users[i];

        // 高亮筛选条件
        var _nameLight = (user.name || '').replace(new RegExp($name.val(), 'g'), "<span class='text-danger bg-danger'>" + $name.val() + "</span>");
        var _phoneLight = (user.phone_num || '').replace(new RegExp($phone.val(), 'g'), "<span class='text-danger bg-danger'>" + $phone.val() + "</span>");
        
        _html += _trHtml.replace(/_USER_ID_/g, user.id)
          .replace(/_USER_NAME_/i, _nameLight)
          .replace(/_USER_PHONE_NUM_/i, _phoneLight)
      }
      $tbody.html(_html);
    }

    function refreshPaging(res, currentPage) {
      var totalPage = res.totalPage;
      var _html = '';
      currentPage = parseInt(currentPage);

      // previous
      if(currentPage > 1) {
        _html += _pagingHtml.li.replace('_PAGE_', currentPage - 1).replace('_NAME_', '‹ 上一页');
      }

      // next
      if(currentPage < totalPage) {
        _html += _pagingHtml.li.replace('_PAGE_', currentPage + 1).replace('_NAME_', '下一页 ›');
      }

      if(_html) {
        $pageBody.html('<ul class="pagination">' + _html + '</ul>');
      }
    }

    var $name     = $('#modelSetAdmin--inputName');
    var $phone    = $('#modelSetAdmin--inputPhone');
    var $search   = $('#modelSetAdmin--buttonSearch');
    var $tbody    = $('#tbody--usersOfStore');
    var $pageBody = $('#pageBody--usersOfStore');
    var _trHtml   = [
      '<tr class="select" data-user_id="_USER_ID_" >',
        '<td>_USER_ID_</td>',
        '<td>_USER_NAME_</td>',
        '<td>_USER_PHONE_NUM_</td>',
        '<td><a onclick="set_store_admin($(\'#store_id\').val(), _USER_ID_)" class="btn btn-primary btn-xs" href="javascript:void(0)">设置</a></td>',
      '</tr>'
    ].join('');
    var _pagingHtml = {
      'li': '<li><a class="modelSetAdmin--paging" href="javascript:void(0);" page="_PAGE_">_NAME_</a></li>',
    };

    // 点积分页按钮
    $pageBody.on('click', function(e) {
      if($(e.target).hasClass('modelSetAdmin--paging')) {
        if($(e.target).hasClass("disabled")) {
          return false;
        }

        $('.modelSetAdmin--paging').addClass("disabled");
        getUsersData({
          page: $(e.target).attr('page')
        });
      }
      return false;
    });

    $search.on('click', getUsersData);
  });
</script>