	<div class="header">
		<a class="header-left" href="/phone/homepages">
			<span class="ico-header-back"></span>
		</a>
		<h1>技术服务</h1>
	</div>
	<!-- header end -->
	<div class="container has-top">
	<%= form_tag(@phone_tech_serv_path, method: "get") do %>
		<div class="search-wrap">
		 <%= text_field_tag(:title,@title,class: "search-inp", placeholder:  '请输入要搜索的内容' )  %>
			<!-- <input type="text" class="search-inp" placeholder="请输入要搜索的内容"> -->
		</div>
	<% end %>
		<div class="container has-top">
		<div class="data-list img-list">
		  	<% @tech_servs.each do |tech_serv| %>
		    <a class="data-item" href="<%= phone_tech_serv_path(tech_serv) %>">
				<div class="flex-fluid">
					<div class="adapt-img"> 
						<img src="<%= tech_serv.avatar %>" alt="">
					</div> 
				</div>
			</a>
   		<% end %>
			</div> 
			</div>
		<div class="text-center block-mt">加载完成</div>
	</div>