
	<div class="header">
		<a class="header-left" href="/phone/tech_servs">
			<span class="ico-header-back"></span>
		</a>
		<h1>技术服务详情</h1>
	</div>
	<!-- header end -->
	<div class="container has-top">
		<div class="provide-detail-wrap">
<!-- 			<div class="adapt-img">
				<img src="images/technology-detail1.png" alt=""></div>
			<div class="adapt-img">
				<img src="images/provide-detail2.png" alt=""></div>
			<div class="adapt-img">
				<img src="images/provide-detail3.png" alt=""></div>
			<div class="adapt-img">
				<img src="images/provide-detail4.png" alt=""></div>
			<div class="adapt-img">
				<img src="images/provide-detail5.png" alt=""></div> -->
			<%= raw @tech_serv.content %>
		</div>
		

	</div>
	<!-- container end -->
