	<div class="header">
		<a class="header-left" href="/phone/goods">
			<span class="ico-header-back"></span>
		</a>
		<h1>产品详情</h1>
	</div>
	<!-- header end -->
	<div class="container has-top">
		<div class="provide-detail-wrap">
			<div class="adapt-img">
<!-- 				<img src="images/provide-detail1.png" alt=""> -->
				<img src="<%= @good.info %>" alt="">
			</div>

		</div>
	</div>