<% content_for :title, "积分兑换" %>

<body class="body-bg">
  <div class="header">
    <a  class="header-left" href="javascript:void(0)" onclick="window.location.href='/phone/homepages';">
      <span class="ico-header-back"></span>
    </a>
    <button id="scan" class="header-right"><span class="ico-scan"></span></button>
  </div>
  <!-- header end -->

<table>
  <thead>
    <tr>
      <th>name</th>
    </tr>
  </thead>

  <tbody>
    <% @coupon_instances.each do |coupon_instance|%>
      <tr>
        <td><%=coupon_instance.coupon.name%></td>
        <td><a href=<%=phone_coupon_instance_path(coupon_instance)%>>Show</a></td>
      </tr>
    <%end%>
  </tbody>
</table>

<br>

<a href="/phone/coupon_instances/new">New Coupon instance</a>


</body>
