<%- model_class = QrCodeScanHistory -%>
<div class="container">
  <div class="panel">
	<div class="panel-heading">
      <div class="panel-title">扫码查询列表</div>
    </div>
	<div class="panel-body">
	<%= render 'search_form' %>
	<% if @search_type == "history_detail" %>
  <%= render 'history_detail' %>
  <% else %>
  <%= render 'search_result' %>
  <% end %>

                </div>
            </div>
        </div>
