.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border-style: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 100%;
  font-style: normal;
  margin: 0;
  font-weight: normal;
}
body {
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, 'Microsoft YaHei', SimSun;
  color: #555;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
input,
button,
textarea,
select {
  font-size: 14px;
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, 'Microsoft YaHei', SimSun;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
}
input,
textarea,
select {
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 0;
}
button {
  padding: 0;
  bottom: 0;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
small,
.small {
  font-size: 80%;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}
button,
input {
  overflow: visible;
}
input[type='file'] {
  opacity: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[hidden] {
  display: none;
}
a {
  text-decoration: none;
  color: #555;
}
a:hover,
a:active {
  color: #f05050;
}
a.text-primary {
  color: #f05050;
}
a.text-primary:hover,
a.text-primary:active {
  color: #ec2121;
}
.ico-parent {
  display: inline-block;
  vertical-align: middle;
}
.ico-scan {
  background: url('../images/ico-scan.png') no-repeat center center / cover;
}
.ico-lever {
  display: inline-block;
  height: 30px;
  width: 30px;
  background: url('../images/ico-lever.png') no-repeat center center / cover;
}
.ico-header-back,
.ico-condition,
.ico-scan,
.ico-close2 {
  display: inline-block;
  height: 43px;
  width: 43px;
}
.ico-header-back {
  background: url('../images/ico-header-back.png') no-repeat center center / cover;
}
.ico-condition {
  background: url('../images/ico-condition.png') no-repeat center center / cover;
}
.ico-user3,
.ico-phone2,
.ico-addr {
  display: inline-block;
  height: 13px;
  width: 13px;
  vertical-align: middle;
}
.ico-user3 {
  background: url('../images/ico-user3.png') no-repeat center center / cover;
}
.ico-phone2 {
  background: url('../images/ico-phone2.png') no-repeat center center / cover;
}
.ico-addr {
  background: url('../images/ico-addr.png') no-repeat center center / cover;
}
.ico-score,
.ico-question,
.ico-next,
.ico-phone,
.ico-nickname,
.ico-email,
.ico-sex,
.ico-birth,
.ico-user2,
.ico-close {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}
.ico-score {
  background: url('../images/ico-score.png') no-repeat center center / cover;
}
.ico-next {
  background: url('../images/ico-next.png') no-repeat center center / cover;
}
.ico-question {
  background: url('../images/ico-question.png') no-repeat center center / cover;
}
.ico-user2 {
  background: url('../images/ico-user2.png') no-repeat center center / cover;
}
.ico-nickname {
  background: url('../images/ico-name.png') no-repeat center center / cover;
}
.ico-sex {
  background: url('../images/ico-sex.png') no-repeat center center / cover;
}
.ico-birth {
  background: url('../images/ico-birth.png') no-repeat center center / cover;
}
.ico-email {
  background: url('../images/ico-email.png') no-repeat center center / cover;
}
.ico-phone {
  background: url('../images/ico-phone.png') no-repeat center center / cover;
}
.ico-close {
  background: url('../images/ico-close.png') no-repeat center center / cover;
}
.ico-close2 {
  background: url('../images/ico-close2.png') no-repeat center center / cover;
}
.ico-error,
.ico-right,
.ico-sad {
  display: inline-block;
  vertical-align: middle;
  height: 28px;
  width: 28px;
}
.ico-error {
  background: url('../images/ico-error.png') no-repeat center center / cover;
}
.ico-right {
  background: url('../images/ico-right.png') no-repeat center center / cover;
}
.ico-sad {
  background: url('../images/ico-sad.png') no-repeat center center / cover;
}
.mr5 {
  margin-right: 5px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.body-bg {
  background: #f1f1f1;
}
.text-import {
  color: #1a1a1a;
}
.text-tips {
  color: #999;
}
.dib {
  display: inline-block;
}
.block-mt {
  margin-top: 15px;
}
.block-mb {
  margin-bottom: 15px;
}
.text-gray {
  color: #999;
}
.text-tit {
  color: #333;
}
.text-info {
  color: #4587d5;
}
.text-danger {
  color: #d80605;
}
.f12 {
  font-size: 12px;
}
.f16 {
  font-size: 16px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.flex-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-fluid {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  /*Firefox*/
  box-flex: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  flex: auto;
}
.flex-wrap-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.caret {
  display: inline-block;
  border-top: 6px solid #c2c2c2;
  border-left: 6px solid transparent ;
  border-right: 6px solid transparent ;
  vertical-align: middle;
}
.price {
  font-size: 16px;
  color: #f88c17;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.float-ul .float-item {
  float: left;
}
.float-ul.wu3 .float-item {
  width: 33.33333%;
}
.float-ul.wu4 .float-item {
  width: 25%;
}
.data-list .data-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 12px 15px;
  background: #fff;
}
.data-list .data-item:not(:last-child) {
  border-bottom: 1px solid #f1f1f1;
}
.img-list .data-item {
  padding: 8px 15px !important;
}
.img-list .data-item .flex-fluid1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  /*Firefox*/
  box-flex: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  flex: 1 1 auto;
}
.img-list .data-item .flex-fluid2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  /*Firefox*/
  box-flex: 2;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  flex: 2 1 auto;
}
.label {
  display: inline-block;
  padding: 2px 8px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
}
.label.label-warning {
  background: #f88c17;
}
.label.label-info {
  background: #4587d5;
}
.label.label-similar {
  background: #fe7173;
}
.btn-size-lg {
  font-size: 16px;
  padding: 8px 15px !important;
}
.btn-primary {
  display: inline-block;
  padding: 5px 12px;
  text-align: center;
  cursor: pointer;
  line-height: 1;
  color: #fff;
  border: 1px solid #f05050;
  background: #f05050;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.btn-primary:hover,
.btn-primary:active {
  background: #ec2121;
}
.btn-similar-hollow {
  display: inline-block;
  padding: 5px 12px;
  text-align: center;
  cursor: pointer;
  line-height: 1;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  color: #fe7173;
  border: 1px solid #fe7173;
  background: #fff;
}
.btn-similar-hollow:hover,
.btn-similar-hollow:active {
  background: #fe7173;
  color: #fff;
}
.line-through {
  position: relative;
  text-align: center;
}
.line-through:before {
  position: absolute;
  content: "";
  top: 50%;
  border-top: 1px solid #cdcdcd;
  width: 80%;
  left: 10%;
  z-index: 0;
}
.line-through .text {
  position: relative;
  z-index: 3;
  padding: 0 10px;
  background: #f1f1f1;
  color: #999;
}
.form-list > .data-item {
  -webkit-box-pack: justify !important;
  -moz-justify-content: space-between !important;
  -webkit-justify-content: space-between !important;
  justify-content: space-between !important;
}
.form-list > .data-item input {
  text-align: right;
}
.condition-group {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 10px 15px;
  background: #f1f1f1;
}
.condition-group .condition-item {
  display: block;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #cdcdcd;
  padding: 3px 10px;
  text-align: center;
  margin: 5px;
}
.condition-group .condition-item.active {
  background: #f05050;
  color: #FFF;
}
.popup-wrap .popup {
  position: absolute;
  z-index: 10000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  padding: 40px 15px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 240px;
  top: 10%;
  left: 50%;
  margin-left: -120px;
}
.popup-wrap .popup.has-title {
  padding-top: 10px;
}
.popup-wrap .popup .close {
  position: absolute;
  height: 20px;
  right: 10px;
  top: 10px;
}
.popup-wrap .popup-title {
  font-size: 16px;
  color: #1a1a1a;
  text-align: center;
  margin: 5px;
}
.popup-wrap .popup-main {
  padding: 20px 10px;
}
.popup-wrap .popup-foot {
  border-top: 1px solid #f1f1f1;
  margin: 0 -10px -10px;
}
.popup-wrap .popup-foot .a-button {
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  color: #333;
}
.popup-wrap .popup-bg {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}
.adapt-img {
  line-height: 0;
}
.adapt-img > img {
  width: 100%;
  height: auto;
}
.search-wrap {
  margin: 7px 15px;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.search-wrap .search-inp {
  /*Firefox*/
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  /*Firefox*/
  box-flex: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  flex: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 6;
  height: 44px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #cdcdcd;
  padding: 8px 65px;
}
.header h1 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: #333;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.header .header-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.header .header-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.header .header-left.link {
  line-height: 44px;
  padding-left: 15px;
}
.header .header-right.link {
  line-height: 44px;
  padding-right: 15px;
}
.container.has-top {
  padding-top: 44px;
}
.sub-title {
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
}
.bottom-btn {
  padding: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.user-img-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.user-img-wrap .user-img {
  margin-right: 5px;
}
.user-img-wrap .user-img img {
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  border: 2px solid #fff;
  height: 65px;
  width: 65px;
}
.user-img-wrap .user-name {
  font-size: 16px;
}
.user-info-header {
  display: block;
  position: relative;
  padding: 25px 15px;
  background: url('../images/bg-map.png') no-repeat center center / cover;
  color: #fff;
}
.user-info-header .lever-bar {
  display: inline-block;
  position: relative;
  padding: 2px 12px 2px 32px ;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  vertical-align: bottom;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.3);
}
.user-info-header .lever-bar .ico-lever {
  position: absolute;
  left: -1px;
  top: -10px;
}
.user-info-header .progress-wrap {
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
}
.user-info-header .progress-wrap .progress {
  width: 40px;
}
.user-info-header .score {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -15px;
  height: 28px;
  line-height: 28px;
  -moz-border-top-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-bottom-left-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 0 8px 0;
  background: rgba(255, 255, 255, 0.4);
}
.code-2d-wrap {
  text-align: center;
}
.code-2d-wrap .img-2dcode {
  margin: 80px 0 30px;
  height: 172px;
  width: 172px;
}
.code-2d-wrap .code-btm-tips {
  margin-bottom: 38px;
}
.progress {
  height: 6px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 1px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.progress .progress-bar {
  float: left;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.ico-list {
  background: #fff;
  text-align: center;
}
.ico-list .float-item a {
  display: block;
  padding: 18px 15px;
  border-bottom: 1px solid #f1f1f1;
}
.ico-list .float-item a:not(:nth-child(3n)) {
  border-right: 1px solid #f1f1f1;
}
.ico-list .float-item .ico-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ico-list .float-item .ico-img {
  height: 40px;
  width: 40px;
}
.provide-list .data-item {
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: url('../images/bg-logo.png');
  background-size: 63px;
  background-position: right bottom;
  background-repeat: no-repeat;
}
.provide-list .data-item .provide-img {
  height: 107px;
  width: 90px;
  margin-right: 15px;
}
.score-s-header {
  position: relative;
  padding: 15px;
  background: url('../images/bg-map.png') no-repeat center center / cover;
  height: 100px;
}
.score-s-header .ico-question {
  position: absolute;
  right: 15px;
  top: 15px;
}
.score-s-header .score-market {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: #fff;
}
.score-s-header .score-scan {
  position: absolute;
  height: 90px;
  width: 90px;
  text-align: center;
  top: 50%;
  margin-top: -45px;
  padding-top: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  left: 50%;
  margin-left: -45px;
  background: rgba(255, 255, 255, 0.6);
  border: 5px solid rgba(255, 255, 255, 0.6);
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}
.score-s-header .score-scan .score-num {
  color: #d80605;
  font-size: 22px;
}
.score-title {
  position: relative;
  border-bottom: 1px solid #cdcdcd;
}
.score-title:before {
  position: absolute;
  content: '';
  bottom: -1px;
  left: 20px;
  z-index: 3;
  border-bottom: 7px solid #fff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.score-title:after {
  position: absolute;
  content: '';
  border-bottom: 8px solid #cdcdcd;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  bottom: -1px;
  left: 18px;
  z-index: 0;
}
.coupon-list {
  margin: 15px;
}
.coupon-list .coupon-item {
  position: relative;
  background: #fff;
  overflow: hidden;
  padding-right: 40px;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.coupon-list .coupon-item .coupon-left {
  padding: 15px 10px;
  min-width: 115px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-size: 24px;
}
.coupon-list .coupon-item .coupon-left .coupon-price {
  font-size: 40px;
  font-weight: 700;
}
.coupon-list .coupon-item.coupon-similar .coupon-left,
.coupon-list .coupon-item.coupon-similar .coupon-tips {
  background: #fe7173;
}
.coupon-list .coupon-item.coupon-warning .coupon-left,
.coupon-list .coupon-item.coupon-warning .coupon-tips {
  background: #f88c17;
}
.coupon-list .coupon-item.coupon-info .coupon-left,
.coupon-list .coupon-item.coupon-info .coupon-tips {
  background: #4587d5;
}
.coupon-list .coupon-item .coupon-center {
  /*Firefox*/
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  /*Firefox*/
  box-flex: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  flex: auto;
  margin: 5px 10px;
}
.coupon-list .coupon-item .coupon-right .btn-similar-hollow {
  margin-top: 50px;
}
.coupon-list .dot-line {
  position: absolute;
  left: 0px;
  top: 1px;
  height: 88px;
  width: 6px;
  background: url('../images/dot-line.png') left top repeat-y;
}
.coupon-list .coupon-tips {
  position: absolute;
  transform: rotate(43deg);
  right: -32px;
  top: 6px;
  color: #fff;
  padding: 2px 35px 2px 35px;
  font-size: 12px;
}
.user-pic-upload {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 30px;
  overflow: hidden;
}
.user-pic-upload > img {
  height: 30px;
  width: 30px;
}
.user-pic-upload > input[type='file'] {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.menber-card-wrap {
  padding: 15px 30px;
  background: #fff;
}
.menber-card-wrap .card-img {
  -moz-box-shadow: 5px 5px 10px rgba(155, 155, 155, 0.5);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
.map {
  position: fixed;
  top: 44px;
  bottom: 0;
  left: 0;
  right: 0;
}
.ilblock-group {
  margin: -3px 5px 0;
}
.ilblock-group .ilblock-item {
  display: block;
  text-align: center;
  padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  background: #fff;
  margin: 3px;
}
.city-chart {
  border-top: 1px solid #cdcdcd;
  padding: 3px 15px;
}
.provide-detail-wrap {
  background: #fff;
  padding: 15px;
}
.code-reload {
  display: inline-block;
  padding: 3px 5px;
  background: #f1f1f1;
  font-size: 12px;
  color: #999;
}
/*=============================== 大转盘样式 ===============================*/
.lottery {
  background: #c12e2e;
  /*我的奖品*/
  /* 置灰样式*/
  /* 弹出框*/
}
.lottery .container {
  padding-bottom: 30px;
}
.lottery .banner {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.lottery .banner .turnplate {
  display: block;
  width: 100%;
  position: relative;
  max-width: 600px;
  margin: 20px auto 0px;
}
.lottery .banner .turnplate canvas.item {
  width: 100%;
}
.lottery .banner .turnplate img.pointer {
  position: absolute;
  width: 31.5%;
  height: 42.5%;
  left: 34.6%;
  top: 23%;
}
.lottery .top_caidan {
  width: 90%;
  text-align: center;
  margin: 20px auto;
  color: #fff;
  font-size: 16px;
}
.lottery .top_caidan ul li {
  text-align: center;
  display: inline;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}
.lottery .cd1 a {
  width: 25%;
  color: #ac630d;
  background: #ec9813;
  padding: 10px 8%;
  border-radius: 15px 0 0 15px;
  border: #d9541b solid 1px;
}
.lottery .cd2 a {
  width: 25%;
  color: #ac630d;
  background: #ec9813;
  padding: 10px 3%;
  border: #d9541b solid 1px;
}
.lottery .cd3 a {
  width: 25%;
  color: #ac630d;
  background: #ec9813;
  padding: 10px 8%;
  border: #d9541b solid 1px;
  border-radius: 0 15px  15px 0;
}
.lottery .cd1 a:hover {
  background: #f88906;
  color: #fff;
}
.lottery .cd2 a:hover {
  background: #f88906;
  color: #fff;
}
.lottery .cd3 a:hover {
  background: #f88906;
  color: #fff;
}
.lottery .select a {
  background: #ff8d02;
  color: #fff;
}
.lottery .top_info {
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.8);
}
.lottery .shuoming {
  width: 80%;
  margin: 0px auto 0;
  background: #fff;
  border-radius: 5px;
  padding: 20px 5%;
  font-size: 16px;
}
.lottery .biaoti {
  font-size: 16px;
  border-radius: 15px;
  text-align: center;
  width: 30%;
  margin: 5px auto;
  background: #ff8d02;
  color: #fff;
  padding: 8px 5px ;
}
.lottery .shuoming p {
  margin: 8px auto;
  border-radius: 15px;
}
.lottery .line {
  width: 90%;
  margin: 10px auto;
  border-bottom: #eabf2c dashed 2px;
}
.lottery .gift_content {
  display: block;
  width: 95%;
  margin: 0 auto;
  font-size: 16px;
}
.lottery .grid {
  float: left;
  margin: 10px 2%;
  width: 46%;
}
.lottery .details {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  position: relative;
  z-index: 99;
}
.lottery .gifts_info {
  color: #8fa9b2;
  font-weight: bold;
  padding: 20px 0 ;
  font-size: 14px;
  background: #b8daea;
}
.lottery .btn_are {
  margin-top: 10px;
  border-top: #ccc solid 1px;
}
.lottery btn-danger:hover,
.lottery .btn-danger:focus,
.lottery .btn-danger.focus,
.lottery .btn-danger:active,
.lottery .btn-danger.active,
.lottery .open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #ccc;
}
.lottery .btn:hover,
.lottery .btn:focus,
.lottery .btn.focus {
  color: #fff;
  text-decoration: none;
}
.lottery .btn-lg,
.lottery .btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.lottery .btn-danger {
  color: #fff;
  background-color: #ff8d04;
  border-color: #d43f3a;
  margin-top: 10px;
}
.lottery .btn {
  display: inline-block;
  padding: 6px 20px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.lottery .green {
  background: #a9ce04;
}
.lottery .zhihui {
  background: #000;
  position: relative;
  z-index: 9999999;
  overflow: hidden;
}
.lottery .background_gry {
  color: #ededed;
  background: #ccc;
}
.lottery .submit_box {
  width: 90%;
  background: #fff;
  position: fixed;
  top: 28%;
  left: 7%;
  margin-left: -8px;
  text-align: center;
  padding: 10px 0px 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 999998;
}
.lottery .submit_box_text {
  color: #333;
  width: 80%;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin: 10px auto 20px;
}
.lottery .submit_box_text p {
  width: 80%;
  color: #666;
  margin: 15px auto;
  text-align: left;
  line-height: 25px;
}
.lottery .submit_box_text a {
  color: #f3485a;
}
.lottery .org {
  font-size: 25px;
  text-align: center;
  margin: 20px auto;
}
.lottery .org span {
  color: #ff8d04;
}
.lottery .black-overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: #000;
  z-index: 99998;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.lottery .close {
  position: relative;
  float: right;
  margin-right: 10px;
}
.lottery .getgift {
  width: 30%;
  margin: 10px 35%;
}
.lottery .surebtn {
  position: relative;
  width: 80%;
  margin: 5px 10%;
}
.lottery .intbtn {
  color: #5ea8ee;
  font-family: "微软雅黑";
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background: #fff;
  margin-top: 10px;
  padding: 6px 12%;
  border: none;
}
.lottery .yuanjiao {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  behavior: url(iecss3.htc);
  border-radius: 5px;
}
.lottery .cricle_right {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  behavior: url(iecss3.htc);
  border-radius: 0 5px 5px 0;
}
.lottery .cricle {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  behavior: url(iecss3.htc);
  border-radius: 5px 5px 5px 5px;
}
.lottery .search_button {
  width: 28%;
  background: #c12e2e;
  height: 43px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  border: #cccccc solid 1px;
  border-left: none;
  float: left;
  font-size: 16px;
  font-weight: bold;
}
.lottery .cricle_left {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  behavior: url(iecss3.htc);
  border-radius: 5px 0 0 5px;
}
.lottery .search_input {
  width: 70%;
  height: 43px;
  line-height: 43px;
  border: #ccc solid 1px;
  background: #fff;
  color: #b5b5b6;
  text-align: center;
  float: left;
  font-size: 16px;
}
.lottery .sure_button {
  width: 43%;
  background: #c12e2e;
  height: 43px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  border: #cccccc solid 1px;
  font-size: 16px;
  font-weight: bold;
}
