.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
body,
html {
  height: 100%;
}
body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border-style: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 100%;
  font-style: normal;
  margin: 0;
  font-weight: normal;
}
body {
  font: 14px/1.1 "Helvetica Neue", Helvetica, Arial, 'Microsoft YaHei', SimSun;
  color: #1a1a1a;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
input,
button,
textarea,
select {
  font-size: 14px;
  color: #1a1a1a;
  font-family: "Helvetica Neue", Helvetica, Arial, 'Microsoft YaHei', SimSun;
  border: 0;
}
input[type='text'],
input[type='password'],
button,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
}
input[type='text'],
input[type='password'] {
  width: 100px;
}
input[type='date'],
input[type='month'] {
  position: absolute;
  background-color: transparent;
  color: #666;
  font-size: 14px;
  height: 20px;
  FILTER: alpha(opacity=0);
  /*androd*/
  appearance: none;
  /*下拉框去掉右侧图标*/
  -moz-appearance: none;
  -webkit-appearance: none;
  border-color: transparent;
  width: 160px;
}
input,
textarea,
select {
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 0;
}
button {
  padding: 0;
  bottom: 0;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
small,
.small {
  font-size: 80%;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}
button,
input {
  overflow: visible;
}
input[type='file'] {
  padding: 0;
}
button,
select {
  text-transform: none;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[hidden] {
  display: none;
}
a {
  text-decoration: none;
  color: #1a1a1a;
}
a:hover,
a:active {
  color: #d90404;
}
a.text-primary {
  color: #d90404;
}
a.text-primary:hover,
a.text-primary:active {
  color: #a70303;
}
.ico-lever,
.ico-header-back,
.ico-scan,
.ico-scan2,
.ico-arrow-right2,
.ico-arrow-right,
.ico-score,
.ico-question,
.ico-next,
.ico-phone,
.ico-nickname,
.ico-email,
.ico-sex,
.ico-birth,
.ico-user2,
.ico-close,
.ico-user4,
.ico-addr2,
.ico-addr,
.ico-condition,
.ico-close2,
.ico-error,
.ico-right,
.ico-sad,
.ico-pop-close,
.ico-score-plus,
.ico-score-minus,
.ico-score,
.ico-record,
.ico-flash,
.ico-user3,
.ico-crown {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.ico-arrow-right2 {
  height: 10px;
  width: 10px;
}
.ico-arrow-right2 {
  background: url('../images/ico-arrow-right2.png') no-repeat center center / cover;
}
.ico-user4,
.ico-user3 .ico-addr2,
.ico-addr,
.ico-arrow-right,
.ico-question,
.ico-phone,
.ico-nickname,
.ico-email,
.ico-sex,
.ico-birth,
.ico-user3 {
  height: 14px;
  width: 14px;
}
.ico-user4 {
  background: url('../images/ico-user4.png') no-repeat center center / cover;
}
.ico-addr {
  background: url('../images/ico-addr.png') no-repeat center center / cover;
}
.ico-arrow-right {
  background: url('../images/ico-arrow-right.png') no-repeat center center / cover;
}
.ico-question {
  background: url('../images/ico-question.png') no-repeat center center / cover;
}
.ico-nickname {
  background: url('../images/ico-nickname.png') no-repeat center center / cover;
}
.ico-sex {
  background: url('../images/ico-sex.png') no-repeat center center / cover;
}
.ico-birth {
  background: url('../images/ico-birth.png') no-repeat center center / cover;
}
.ico-email {
  background: url('../images/ico-email.png') no-repeat center center / cover;
}
.ico-phone {
  background: url('../images/ico-phone.png') no-repeat center center / cover;
}
.ico-addr2 {
  background: url('../images/ico-addr2.png') no-repeat center center / cover;
}
.ico-close {
  background: url('../images/ico-close.png') no-repeat center center / cover;
}
.ico-user3 {
  background: url('../images/ico-user3.png') no-repeat center center / cover;
}
.ico-next,
.ico-user2,
.ico-psw,
.ico-close,
.ico-score,
.ico-record {
  height: 20px;
  width: 20px;
}
.ico-next {
  background: url('../images/ico-next.png') no-repeat center center / cover;
}
.ico-user2 {
  background: url('../images/ico-user2.png') no-repeat center center / cover;
}
.ico-psw {
  background: url('../images/ico-psw.png') no-repeat center center / cover;
}
.ico-score {
  background: url('../images/ico-score.png') no-repeat center center / cover;
}
.ico-record {
  background: url('../images/ico-record.png') no-repeat center center / cover;
}
.ico-scan {
  height: 33px;
  width: 33px;
}
.ico-header-back {
  height: 19px;
  width: 48px;
}
.ico-lever,
.ico-flash {
  height: 21px;
  width: 21px;
}
.ico-header-back {
  background: url('../images/ico-header-back.png') no-repeat center center / cover;
}
.ico-scan {
  background: url('../images/ico-scan.png') no-repeat center center / cover;
}
.ico-flash {
  background: url('../images/ico-flash.png') no-repeat center center / cover;
}
.ico-scan2 {
  height: 25px;
  width: 25px;
}
.ico-scan2 {
  background: url('../images/ico-scan2.png') no-repeat center center / cover;
}
.ico-error,
.ico-right,
.ico-sad,
.ico-pop-close,
.ico-score-plus,
.ico-score-minus {
  height: 28px;
  width: 28px;
}
.ico-error {
  background: url('../images/ico-error.png') no-repeat center center / cover;
}
.ico-right {
  background: url('../images/ico-right.png') no-repeat center center / cover;
}
.ico-sad {
  background: url('../images/ico-sad.png') no-repeat center center / cover;
}
.ico-pop-close {
  background: url('../images/ico-pop-close.png') no-repeat center center / cover;
}
.ico-score-plus {
  background: url('../images/ico-score-plus1.png') no-repeat center center / cover;
}
.ico-score-minus {
  background: url('../images/ico-score-minus1.png') no-repeat center center / cover;
}
.ico-condition,
.ico-close2 {
  height: 43px;
  width: 43px;
}
.ico-condition {
  background: url('../images/ico-condition.png') no-repeat center center / cover;
}
.ico-close2 {
  background: url('../images/ico-close2.png') no-repeat center center / cover;
}
.ico-crown {
  height: 19px;
  width: 24px;
}
.ico-crown {
  background: url('../images/ico-crown.png') no-repeat center center / cover;
}
.mr5 {
  margin-right: 5px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.body-bg {
  background: #f1f1f1;
}
.text-import {
  color: #1a1a1a;
}
.text-tips {
  color: #999;
}
.text-primary {
  color: #d90404;
}
.dib {
  display: inline-block;
}
.block-mt {
  margin-top: 15px;
}
.block-mb {
  margin-bottom: 15px;
}
.block-mtb {
  margin-top: 15px;
  margin-bottom: 15px;
}
.text-gray {
  color: #999;
}
.text-tit {
  color: #333;
}
.text-info {
  color: #4587d5;
}
.text-danger {
  color: #d80605;
}
.cursor-p {
  cursor: pointer;
}
.f12 {
  font-size: 12px;
}
.f16 {
  font-size: 16px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.flex-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-fluid {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  /*Firefox*/
  box-flex: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  flex: auto;
}
.flex-none {
  -moz-box-flex: 0.0;
  -webkit-box-flex: 0.0;
  -o-box-flex: 0.0;
  -ms-flex: 0.0;
  flex: none;
}
.flex-wrap-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.flex-wrap-between {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.caret {
  display: inline-block;
  border-top: 5px solid #c2c2c2;
  border-left: 5px solid transparent ;
  border-right: 5px solid transparent ;
  vertical-align: middle;
}
.price {
  font-size: 16px;
  color: #f88c17;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.float-ul .float-item {
  float: left;
}
.float-ul.wu2 .float-item {
  width: 50%;
}
.float-ul.wu3 .float-item {
  width: 33.33333%;
}
.float-ul.wu4 .float-item {
  width: 25%;
}
.data-list .data-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 15px 16px;
  background: #fff;
}
.data-list .data-item .data-hd {
  margin-right: 8px;
}
.data-list .data-item:not(:last-child) {
  border-bottom: 1px solid #f1f1f1;
}
.img-list .data-item {
  padding: 8px 16px !important;
}
.img-list .data-item .flex-fluid1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  /*Firefox*/
  box-flex: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  flex: 1 1 auto;
}
.img-list .data-item .flex-fluid2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  /*Firefox*/
  box-flex: 2;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  flex: 2 1 auto;
}
.label {
  display: inline-block;
  padding: 2px 8px;
  font-size: 12px;
  color: #fff;
}
.label.label-primary {
  background: #d90404;
}
.label.label-warning {
  background: #f88c17;
}
.label.label-info {
  background: #4587d5;
}
.label.label-similar {
  background: #fe7173;
}
.btn-primary {
  display: inline-block;
  padding: 4px 12px;
  text-align: center;
  cursor: pointer;
  line-height: 1;
  font-size: 12px;
  color: #fff;
  border: 1px solid #d90404;
  background: #d90404;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-primary:hover,
.btn-primary:active {
  background: #a70303;
}
.btn-default {
  display: inline-block;
  padding: 4px 12px;
  text-align: center;
  cursor: pointer;
  line-height: 1;
  font-size: 12px;
  color: #474747;
  border: 1px solid #e6e6e6;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-default:hover,
.btn-default:active {
  background: #e6e6e6;
}
.btn-similar-hollow {
  display: inline-block;
  padding: 4px 12px;
  text-align: center;
  cursor: pointer;
  line-height: 1;
  font-size: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  color: #fe7173;
  border: 1px solid #fe7173;
  background: #fff;
}
.btn-similar-hollow:hover,
.btn-similar-hollow:active {
  background: #fe7173;
  color: #fff;
}
.btn-size-lg {
  font-size: 16px;
  padding: 11.2px 16px !important;
}
.btn-round {
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  -moz-box-shadow: 0 3px 3px rgba(168, 67, 52, 0.55);
  -webkit-box-shadow: 0 3px 3px rgba(168, 67, 52, 0.55);
  box-shadow: 0 3px 3px rgba(168, 67, 52, 0.55);
  min-width: 170px;
}
.line-through {
  position: relative;
  text-align: center;
}
.line-through:before {
  position: absolute;
  content: "";
  top: 50%;
  border-top: 1px solid #cdcdcd;
  width: 80%;
  left: 10%;
  z-index: 0;
}
.line-through .text {
  position: relative;
  z-index: 3;
  padding: 0 10px;
  background: #f1f1f1;
  color: #999;
}
.form-list > .data-item {
  -webkit-box-pack: justify !important;
  -moz-box-pack: justify !important;
  -moz-justify-content: space-between !important;
  -webkit-justify-content: space-between !important;
  justify-content: space-between !important;
  position: relative;
}
.form-list > .data-item input {
  text-align: right;
  padding-right: 0;
}
.form-list input[type='date'],
.form-list input[type='month'] {
  right: 0;
  top: 10px;
}
.condition-group {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 10px 16px;
  background: #f1f1f1;
}
.condition-group .condition-item {
  display: block;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #cdcdcd;
  padding: 3px 10px;
  text-align: center;
  margin: 5px;
}
.condition-group .condition-item.active {
  background: #d90404;
  color: #FFF;
}
.popup-wrap .popup {
  position: absolute;
  z-index: 10000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  padding: 40px 16px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 240px;
  top: 10%;
  left: 50%;
  margin-left: -120px;
}
.popup-wrap .popup.has-title {
  padding-top: 10px;
}
.popup-wrap .popup.w280 {
  width: 280px;
  margin-left: -140px;
}
.popup-wrap .popup .close {
  position: absolute;
  height: 20px;
  right: 10px;
  top: 10px;
}
.popup-wrap .popup .pop-close {
  position: absolute;
  height: 45px;
  top: -48px;
  right: 6px;
}
.popup-wrap .popup .pop-close:after {
  content: '';
  display: block;
  width: 1px;
  margin-left: 13px;
  height: 20px;
  background: #c5b6b6;
}
.popup-wrap .popup-title {
  font-size: 16px;
  color: #1a1a1a;
  text-align: center;
  margin: 5px;
}
.popup-wrap .popup-main {
  padding: 20px 10px;
}
.popup-wrap .popup-foot {
  border-top: 1px solid #f1f1f1;
  margin: 0 -10px -10px;
}
.popup-wrap .popup-foot .a-button {
  padding: 15px 0;
  text-align: center;
  font-size: 16px;
  color: #333;
}
.popup-wrap .popup-bg {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}
.popup-get-score .popup {
  width: 293px;
  height: 393px;
  padding-top: 16px;
  margin-left: -146px;
  background: url('../images/popbg-score.png') center center / cover;
}
.popup-get-score .popup-score-heading,
.popup-get-score .popup-score-title {
  position: relative;
}
.popup-get-score .popup-score-heading:before,
.popup-get-score .popup-score-title:before,
.popup-get-score .popup-score-heading:after,
.popup-get-score .popup-score-title:after {
  position: absolute;
  top: 50%;
  content: '';
  background: #dfdfdf;
}
.popup-get-score .popup-score-heading:before,
.popup-get-score .popup-score-heading:after {
  height: 1px;
  width: 20%;
}
.popup-get-score .popup-score-heading:before {
  left: 13%;
}
.popup-get-score .popup-score-heading:after {
  right: 13%;
}
.popup-get-score .popup-score-title {
  color: #e1e1e3;
  font-size: 24px;
  text-align: center;
}
.popup-get-score .popup-score-title:before,
.popup-get-score .popup-score-title:after {
  height: 5px;
  width: 5px;
  margin-top: -2px;
  border-radius: 1000px;
}
.popup-get-score .popup-score-title:before {
  left: 33%;
}
.popup-get-score .popup-score-title:after {
  right: 33%;
}
.popup-get-score .popup-score-body {
  padding: 15px 16px;
  text-align: center;
  color: #fff;
}
.popup-get-score .get-score,
.popup-get-score .get-red-paper {
  padding-top: 5px;
}
.popup-get-score .get-score .score-num,
.popup-get-score .get-red-paper .score-num,
.popup-get-score .get-score .red-paper-num,
.popup-get-score .get-red-paper .red-paper-num {
  font-size: 25px;
  color: #fcea10;
  margin: 0 10px;
}
.popup-get-score .get-red-paper {
  padding-top: 10px;
}
.popup-get-score .get-red-paper .red-paper-num {
  color: red;
}
.popup-get-score .score-total {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  font-size: 16px;
}
.popup-get-score .scan-code {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
  font-size: 16px;
  line-height: ;
}
.adapt-img {
  line-height: 0;
}
a.adapt-img {
  display: block;
}
.adapt-img > img {
  width: 100%;
  height: auto;
}
.search-wrap {
  margin: 7px 16px;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.search-wrap .search-inp {
  /*Firefox*/
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  /*Firefox*/
  box-flex: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  flex: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
.tabs-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 15px;
}
.tabs-nav .tabs-nav-item {
  /*Firefox*/
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  /*Firefox*/
  box-flex: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  flex: auto;
  background: #fff;
  padding: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid transparent;
}
.tabs-nav .tabs-nav-item a {
  display: block;
  color: #888;
}
.tabs-nav .tabs-nav-item.active {
  border-color: #d90404;
}
.tabs-nav .tabs-nav-item.active,
.tabs-nav .tabs-nav-item.active > a {
  color: #d90404;
}
.load-tips {
  color: #b0b0b0;
  font-size: 12px;
  margin: 25px 16px 15px;
  text-align: center;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #d90404;
  z-index: 6;
  height: 44px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 65px;
}
.header h1 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.header .header-left,
.header .header-right {
  position: absolute;
  top: 0;
  bottom: 0;
  line-height: 44px;
}
.header .header-left {
  left: 0;
}
.header .header-right {
  right: 0;
}
.header .header-left.link,
.header .header-right.link {
  line-height: 44px;
  color: #d7d7d7;
  font-size: 16px;
}
.header .header-left {
  margin-left: 14px;
}
.header .header-right {
  margin-right: 14px;
}
.container {
  min-height: 100%;
}
.container.has-top {
  padding-top: 44px;
}
.sub-title {
  font-size: 15px;
  height: 45px;
  line-height: 45px;
  padding: 0 16px;
  background: #fff;
}
.sub-title.has-bg {
  background: #f1f1f1;
  color: #888;
}
.bottom-btn {
  padding: 45px 16px;
}
.user-img-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  align-items: flex-start;
  -webkit-box-align: flex-start;
}
.user-img-wrap .user-img {
  margin-right: 14px;
}
.user-img-wrap .user-img img {
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  height: 60px;
  width: 60px;
  border: 1px solid #f1f1f1;
}
.user-img-wrap .user-name {
  display: block;
  font-size: 12px;
  margin: 5px 0 7px;
  color: #fff;
}
.user-img-wrap .user-name .ico-arrow-right2 {
  margin-top: -2px;
}
.user-info-header {
  display: block;
  position: relative;
  padding: 25px 16px;
  background: #d90404;
  color: #fff;
}
.user-info-header .lever-bar {
  display: inline-block;
  position: relative;
  font-size: 12px;
  color: #b39f75;
  vertical-align: middle;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  margin-bottom: 5px;
}
.user-info-header .lever-bar .ico-lever {
  margin-right: 5px;
}
.user-info-header .lever-bar .ico-lever img {
  height: 21px;
  width: 21px;
}
.user-info-header .progress-wrap {
  vertical-align: bottom;
  font-size: 10px;
  color: #d9d9d9;
  text-align: left !important;
  text-align: center;
}
.user-info-header .progress-wrap .progress {
  width: 65px;
  margin-right: 4px;
}
.user-info-header .score a,
.user-info-header .menber a {
  display: block;
  color: #fcd953;
  text-align: center;
}
.user-info-header .score a .highlight-a,
.user-info-header .menber a .highlight-a {
  margin-bottom: 8px;
  font-size: 12px;
  text-decoration: underline;
}
.user-info-header .score .score-num,
.user-info-header .menber .score-num {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.user-info-header .score .score-num .ico-arrow-right,
.user-info-header .menber .score-num .ico-arrow-right {
  margin-top: -3px;
}
.user-info-header .menber {
  margin-right: 18px;
}
.my-score {
  font-size: 12px;
  color: #f0b5b5;
  display: inline-block;
  padding: 2px 5px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 10px;
}
.progress {
  height: 9px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1px;
  display: inline-block;
  border: 1px solid #d9d9d9;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.progress .progress-bar {
  float: left;
  height: 100%;
  background: #d9d9d9;
  background-image: -webkit-linear-gradient(120deg, #d90404 10%, transparent 10%, transparent 50%, #d90404 50%, #d90404 60%, transparent 60%, transparent 90%, #d90404 90%, #d90404);
  background-image: -o-linear-gradient(120deg, #d90404 10%, transparent 10%, transparent 50%, #d90404 50%, #d90404 60%, transparent 60%, transparent 90%, #d90404 90%, #d90404);
  background-image: linear-gradient(120deg, #d90404 10%, transparent 10%, transparent 50%, #d90404 50%, #d90404 60%, transparent 60%, transparent 90%, #d90404 90%, #d90404);
  -webkit-background-size: 9px 16px;
  background-size: 9px 16px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.ico-list-wrap {
  padding: 12px 0 ;
  background: #fff;
}
.ico-list {
  text-align: center;
}
.ico-list .float-item a {
  display: block;
  padding: 12px 16px;
}
.ico-list .float-item .ico-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 10px;
}
.ico-list .float-item .ico-img {
  height: 29px;
  width: 29px;
}
.provide-list .data-item {
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: url('../images/bg-logo.png');
  background-size: 63px;
  background-position: right bottom;
  background-repeat: no-repeat;
}
.provide-list .data-item .provide-img {
  height: 107px;
  width: 90px;
  margin-right: 15px;
}
.score-header {
  padding: 25px 16px 0;
  background: url('../images/bg-score-list.png') no-repeat center center / cover;
  height: 110px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.score-header .score-num {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 27px;
  font-weight: 700;
  color: #fff;
  min-width: 80px;
}
.score-header .score-num .ico-question {
  position: absolute;
  right: -13px;
  top: -7px;
}
.tabs-nav-score .ico-score-plus,
.tabs-nav-score .ico-score-minus {
  margin-right: 6px;
  margin-left: -5px;
}
.tabs-nav-score .score-tit {
  display: inline-block;
  vertical-align: middle;
}
.tabs-nav-score .active .ico-score-plus {
  background-image: url('../images/ico-score-plus2.png');
}
.tabs-nav-score .active .ico-score-minus {
  background-image: url('../images/ico-score-minus2.png');
}
.coupon-flash {
  padding: 12px 16px;
  text-align: center;
}
.coupon-list .coupon-item {
  text-align: center;
  border-left: 1px solid #f1f1f1;
  background-image: url('../images/dot-line.png');
  background-size: 8px 29px;
  background-repeat: repeat-y;
  background-position: -1px 6px;
  margin: 0 16px;
}
.coupon-list .coupon-item + .coupon-item {
  margin-top: 15px;
}
.coupon-list .coupon-item.effective {
  position: relative;
  padding-bottom: 15px;
  background-color: #f8dca5;
}
.coupon-list .coupon-item.load {
  height: 155px;
  line-height: 155px;
  background-color: #e1e1e1;
  color: #999;
  font-size: 16px;
}
.coupon-list .coupon-item .price {
  font-size: 20px;
  color: #d90404;
  height: 95px;
  line-height: 95px;
}
.coupon-list .coupon-item .price .price-tag {
  font-size: 27px;
  margin-left: -12px;
}
.coupon-list .coupon-item .score {
  color: #ae100f;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
}
.coupon-list .coupon-item .price,
.coupon-list .coupon-item .score {
  font-weight: 700;
}
.coupon-list .label {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 75px;
  padding: 7px;
}
.coupon-list .coupon-packet-wrap {
  padding: 24px;
}
.coupon-list .coupon-packet {
  display: inline-block;
  width: 140px;
  height: 132px;
  background: url('../images/bg-redpacket.png') no-repeat center center / cover;
}
.popup-main-coupon {
  padding: 12px 16px 25px;
}
.popup-coupon-tips {
  line-height: 1.4;
}
.popup-coupon-img {
  height: 100px;
  width: 100px;
}
.user-pic-upload {
  display: inline-block;
  position: relative;
  height: 28px;
  width: 28px;
  overflow: hidden;
}
.user-pic-upload > img {
  height: 28px;
  width: 28px;
}
.user-pic-upload > input[type='file'] {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.menber-card-wrap {
  padding: 0 28px;
}
.menber-card-wrap .adapt-img {
  margin: 32px 0;
}
.menber-card-wrap .input-info .data-item {
  font-size: 16px;
  border: 1px solid #cdcdcd;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}
.menber-card-wrap .input-info .data-item input {
  font-size: 16px;
}
.menber-card-wrap .input-info .data-item:not(:last-child) {
  margin-bottom: 15px;
}
.map {
  position: fixed;
  top: 44px;
  bottom: 0;
  left: 0;
  right: 0;
}
.ilblock-group {
  margin: 8px 5px 0;
}
.ilblock-group .ilblock-item {
  display: block;
  text-align: center;
  padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  background: #fff;
  margin: 3px;
}
.city-chart {
  border-top: 1px solid #cdcdcd;
  padding: 3px 16px;
}
.provide-detail-wrap {
  background: #fff;
  padding: 15px 16px;
}
.code-reload {
  display: inline-block;
  padding: 3px 5px;
  background: #f1f1f1;
  font-size: 12px;
  color: #999;
}
.add-friend-wrap {
  padding: 30px 16px;
}
.add-friend-wrap .user-img-wrap .user-name {
  font-size: 16px;
}
.add-friend-wrap .code-2d-wrap {
  text-align: center;
}
.add-friend-wrap .code-2d-wrap .img-2dcode {
  margin: 60px 0 30px;
  height: 225px;
  width: 225px;
}
.add-friend-wrap .code-2d-wrap .code-btm-tips {
  margin-bottom: 38px;
}
/*=============================== 大转盘样式 ===============================*/
.lottery {
  background: #c12e2e;
  /*我的奖品*/
  /* 置灰样式*/
  /* 弹出框*/
}
.lottery .container {
  padding-bottom: 30px;
}
.lottery .banner {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.lottery .banner .turnplate {
  display: block;
  width: 100%;
  position: relative;
  max-width: 600px;
  margin: 20px auto 0px;
}
.lottery .banner .turnplate canvas.item {
  width: 100%;
}
.lottery .banner .turnplate img.pointer {
  position: absolute;
  width: 31.5%;
  height: 42.5%;
  left: 34.6%;
  top: 23%;
}
.lottery .top_caidan {
  width: 90%;
  text-align: center;
  margin: 20px auto;
  color: #fff;
  font-size: 16px;
}
.lottery .top_caidan ul li {
  text-align: center;
  display: inline;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}
.lottery .cd1 a {
  width: 25%;
  color: #ac630d;
  background: #ec9813;
  padding: 10px 8%;
  border-radius: 15px 0 0 15px;
  border: #d9541b solid 1px;
}
.lottery .cd2 a {
  width: 25%;
  color: #ac630d;
  background: #ec9813;
  padding: 10px 3%;
  border: #d9541b solid 1px;
}
.lottery .cd3 a {
  width: 25%;
  color: #ac630d;
  background: #ec9813;
  padding: 10px 8%;
  border: #d9541b solid 1px;
  border-radius: 0 15px  15px 0;
}
.lottery .cd1 a:hover {
  background: #f88906;
  color: #fff;
}
.lottery .cd2 a:hover {
  background: #f88906;
  color: #fff;
}
.lottery .cd3 a:hover {
  background: #f88906;
  color: #fff;
}
.lottery .select a {
  background: #ff8d02;
  color: #fff;
}
.lottery .top_info {
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.8);
}
.lottery .shuoming {
  width: 80%;
  margin: 0px auto 0;
  background: #fff;
  border-radius: 5px;
  padding: 20px 5%;
  font-size: 16px;
}
.lottery .biaoti {
  font-size: 16px;
  border-radius: 15px;
  text-align: center;
  width: 30%;
  margin: 5px auto;
  background: #ff8d02;
  color: #fff;
  padding: 8px 5px ;
}
.lottery .shuoming p {
  margin: 8px auto;
  border-radius: 15px;
}
.lottery .line {
  width: 90%;
  margin: 10px auto;
  border-bottom: #eabf2c dashed 2px;
}
.lottery .gift_content {
  display: block;
  width: 95%;
  margin: 0 auto;
  font-size: 16px;
}
.lottery .grid {
  float: left;
  margin: 10px 2%;
  width: 46%;
}
.lottery .details {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  position: relative;
  z-index: 99;
}
.lottery .gifts_info {
  color: #8fa9b2;
  font-weight: bold;
  padding: 20px 0 ;
  font-size: 14px;
  background: #b8daea;
}
.lottery .btn_are {
  margin-top: 10px;
  border-top: #ccc solid 1px;
}
.lottery btn-danger:hover,
.lottery .btn-danger:focus,
.lottery .btn-danger.focus,
.lottery .btn-danger:active,
.lottery .btn-danger.active,
.lottery .open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #ccc;
}
.lottery .btn:hover,
.lottery .btn:focus,
.lottery .btn.focus {
  color: #fff;
  text-decoration: none;
}
.lottery .btn-lg,
.lottery .btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.lottery .btn-danger {
  color: #fff;
  background-color: #ff8d04;
  border-color: #d43f3a;
  margin-top: 10px;
}
.lottery .btn {
  display: inline-block;
  padding: 6px 20px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.lottery .green {
  background: #a9ce04;
}
.lottery .zhihui {
  background: #000;
  position: relative;
  z-index: 9999999;
  overflow: hidden;
}
.lottery .background_gry {
  color: #ededed;
  background: #ccc;
}
.lottery .submit_box {
  width: 90%;
  background: #fff;
  position: fixed;
  top: 28%;
  left: 7%;
  margin-left: -8px;
  text-align: center;
  padding: 10px 0px 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 999998;
}
.lottery .submit_box_text {
  color: #333;
  width: 80%;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin: 10px auto 20px;
}
.lottery .submit_box_text p {
  width: 80%;
  color: #666;
  margin: 15px auto;
  text-align: left;
  line-height: 25px;
}
.lottery .submit_box_text a {
  color: #f3485a;
}
.lottery .org {
  font-size: 25px;
  text-align: center;
  margin: 20px auto;
}
.lottery .org span {
  color: #ff8d04;
}
.lottery .black-overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: #000;
  z-index: 99998;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.lottery .close {
  position: relative;
  float: right;
  margin-right: 10px;
}
.lottery .getgift {
  width: 30%;
  margin: 10px 35%;
}
.lottery .surebtn {
  position: relative;
  width: 80%;
  margin: 5px 10%;
}
.lottery .intbtn {
  color: #5ea8ee;
  font-family: "微软雅黑";
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background: #fff;
  margin-top: 10px;
  padding: 6px 12%;
  border: none;
}
.lottery .yuanjiao {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  behavior: url(iecss3.htc);
  border-radius: 5px;
}
.lottery .cricle_right {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  behavior: url(iecss3.htc);
  border-radius: 0 5px 5px 0;
}
.lottery .cricle {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  behavior: url(iecss3.htc);
  border-radius: 5px 5px 5px 5px;
}
.lottery .search_button {
  width: 28%;
  background: #c12e2e;
  height: 43px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  border: #cccccc solid 1px;
  border-left: none;
  float: left;
  font-size: 16px;
  font-weight: bold;
}
.lottery .cricle_left {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  behavior: url(iecss3.htc);
  border-radius: 5px 0 0 5px;
}
.lottery .search_input {
  width: 70%;
  height: 43px;
  line-height: 43px;
  border: #ccc solid 1px;
  background: #fff;
  color: #b5b5b6;
  text-align: center;
  float: left;
  font-size: 16px;
}
.lottery .sure_button {
  width: 43%;
  background: #c12e2e;
  height: 43px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  border: #cccccc solid 1px;
  font-size: 16px;
  font-weight: bold;
}
.score-exchange-title {
  padding: 15px 16px;
  background: #f1f1f1;
}
.score-exchange-title .current {
  color: #7e7e7e;
  font-size: 15px;
}
.score-exchange-wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.score-exchange-wrap.container {
  padding-top: 94px;
  height: 100%;
}
.score-exchange-wrap .score-exchange-title {
  position: fixed;
  top: 44px;
  left: 0;
  right: 0;
  z-index: 6;
}
.score-exchange {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: stretch;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  height: 100%;
}
.score-exchange .score-exchange-left {
  width: 62px;
  background: #dadada;
  -moz-box-flex: 0.0;
  -webkit-box-flex: 0.0;
  -o-box-flex: 0.0;
  -ms-flex: 0.0;
  flex: none;
  overflow: hidden;
}
.score-exchange .score-exchange-right {
  /*Firefox*/
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  /*Firefox*/
  box-flex: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  flex: auto;
  overflow: hidden;
}
.score-exchange .exchange-tit-list > li > a {
  display: block;
  padding: 20px 5px;
  text-align: center;
  font-size: 16px;
  color: #5e5e5e;
}
.score-exchange .exchange-tit-list > li.active a,
.score-exchange .exchange-tit-list > li:active a {
  color: #d90404;
  background: #fff;
  margin-right: -1px;
}
.score-exchange .exchange-tit-list > li .tit-img {
  height: 28px;
  width: 28px;
}
.exchage-list-wrap {
  overflow: hidden;
}
.exchange-list {
  padding: 5px;
  background: #fff;
}
.exchange-list .exchange-list-item {
  padding: 20px 15px;
}
.exchange-list .exchange-list-item + .exchange-list-item {
  border-top: 1px solid #f1f1f1;
}
.exchange-list .exchange-list-item .adapt-img {
  position: relative;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  -moz-box-shadow: 5px 5px 10px rgba(155, 155, 155, 0.5);
  -webkit-box-shadow: 5px 5px 10px rgba(155, 155, 155, 0.5);
  box-shadow: 5px 5px 10px rgba(155, 155, 155, 0.5);
}
.exchange-list .exchange-list-item .adapt-img .btn-default {
  position: absolute;
  left: 50%;
  bottom: 14px;
  margin-left: -50px;
  width: 100px;
}
.exchange-list .exchange-list-item .adapt-img .price {
  position: absolute;
  width: 200px;
  height: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -10px;
}
.exchange-list .exchange-list-item .adapt-img .score {
  position: absolute;
  top: 0;
  right: 12px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}
.no-exchage-tips {
  padding: 50px 30px;
  background: #fff;
  text-align: center;
}
.time-tips-wrap {
  text-align: center;
  padding: 12px 16px;
}
.time-tips {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  background: #cecece;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
}
.card-list {
  padding: 0 16px;
}
.card-list .card-item {
  padding: 15px 10px;
  border: 1px solid #e0e0e0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}
.card-list .card-item + .card-item {
  margin-top: 10px;
}
.card-list .card-footer {
  padding-top: 15px;
  border-top: 1px solid #ebebeb;
}
.exchange-wrap {
  color: #666;
}
.exchange-wrap .exchange-tit {
  color: #333;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 7px;
}
.back-prepage-wrap {
  position: relative;
}
.back-prepage {
  position: absolute;
  top: 9.5px;
  left: 16px;
  height: 25px;
  width: 25px;
  background: url('../images/ico-back.png') no-repeat center center / cover;
}
.ui-checkbox {
  display: inline-block;
  margin: 0 5px 5px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  line-height: 1.1;
  padding: 5px 10px 5px 8px;
  position: relative;
}
.ui-checkbox .ui-checkbox-tick {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 12px;
  width: 12px;
  background: url('../images/ico-ui-checkbox.png') no-repeat center center / cover;
}
.ui-checkbox.active {
  border-color: #d90404;
}
.ui-checkbox.active .ui-checkbox-tick {
  background: url('../images/ico-ui-checkbox2.png') no-repeat center center / cover;
}
.ui-input-file {
  height: 20px;
  width: 20px;
  position: relative;
  background: url('../images/ico-input-file.png') no-repeat center center / cover;
  overflow: hidden;
}
.ui-input-file input[type='file'] {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  opacity: 0;
  width: 12px;
}
.ui-input {
  border-bottom: 1px solid #cdcdcd;
  position: relative;
  padding-bottom: 5px;
}
.ui-input:before,
.ui-input:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 1px;
  background: #cdcdcd;
}
.ui-input:before {
  left: 0;
}
.ui-input:after {
  right: 0;
}
.ui-input input[type='text'],
.ui-input .ui-input-static {
  padding: 0 5px;
  line-height: 24px;
}
.ui-input textarea {
  resize: none;
}
.content-wrap {
  padding: 15px 16px;
  background: #fff;
}
.img-thumb {
  padding: 5px;
  border: 1px solid #eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  line-height: 0;
}
.img-thumb img {
  width: 100%;
}
.btn-primary-hollow {
  border: 1px solid #d90404;
  padding: 7px 10px;
  min-width: 70px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 1;
  color: #d90404;
}
.sales-promotion-box {
  position: relative;
}
.sales-promotion-box .sales-promotion-sign {
  position: absolute;
  width: 50px;
  height: 64px;
  line-height: 84px;
  text-align: center;
  color: #fff;
  background: url('../images/ico-sales-promotion.png') no-repeat center center / cover;
  top: -8px;
  right: 16px;
}
.action-config-wrap.container {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.action-config-wrap .flex-wrap-top {
  height: 100%;
  align-items: stretch;
  -webkit-box-align: stretch;
}
.action-config-wrap .action-list-wrap {
  position: relative;
  background: #f5f5f5;
  width: 70px;
  font-size: 15px;
  overflow-y: auto;
}
.action-config-wrap .action-list-wrap:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3px;
  left: 0;
  height: 100%;
  background: #cdcdcd;
}
.action-config-wrap .action-list-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1px;
  width: 1px;
  height: 100%;
  background: #cdcdcd;
}
.action-config-wrap .action-list-wrap .action-item {
  line-height: 1.3;
}
.action-config-wrap .action-list-wrap .action-item a {
  position: relative;
  display: block;
  padding: 15px 16px 15px 20px;
  border-bottom: 1px solid #cdcdcd;
  z-index: 10;
}
.action-config-wrap .action-list-wrap .action-item.active a {
  background: #fff;
  color: #d90404;
  font-weight: 700;
}
.action-config-wrap .action-list-wrap .action-item.active a:before {
  content: '';
  width: 6px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #d90404;
}
.action-config-wrap .action-content-wrap {
  overflow-y: auto;
  background: #fff;
  padding: 15px 16px;
}
.form-vertical label {
  color: #888;
}
.form-vertical .label-vertical {
  margin-bottom: 10px;
  display: block;
}
.form-vertical .form-group:not(:last-child) {
  margin-bottom: 15px;
}
.action-img-wrap .float-item > a {
  display: block;
}
.action-img-wrap .float-item:nth-child(2n+1) a {
  margin-right: 5px;
}
.action-img-wrap .float-item:nth-child(2n) a {
  margin-left: 5px;
}
.action-img-wrap .float-item .aciton-img-title {
  margin-top: 6px;
  margin-left: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.action-result-title {
  border-top: 1px solid #cdcdcd;
  margin-top: 20px;
  padding-top: 18px;
  margin-bottom: 10px;
  color: #666;
  font-weight: 700;
}
.bd-table table {
  width: 100%;
}
.bd-table.tc th,
.bd-table.tc td {
  text-align: center;
}
.bd-table th,
.bd-table td {
  border: 1px solid #EEE;
  padding: 10px;
}
.bd-table th {
  font-weight: normal;
}
.bd-table td {
  color: #666;
}
