<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @tech_serv.content %>
</p>

<%= link_to 'Edit', edit_admin_tech_serv_path(@tech_serv) %> |
<%= link_to 'Back', admin_tech_servs_path %>
