	<div class="header">
		<a class="header-left" href="">
			<span class="ico-header-back"></span>
		</a>
		<h1>会员卡领取</h1>
		<button class="header-right"><span class="ico-scan"></span></button>
		<!-- <button class="header-right"><span class="ico-scan" onclick="wxScanQRCode();"></span></button> -->
	</div>
	<!-- header end -->
	<%= render 'form' %>

<script type="text/javascript">
    $(document).ready(function(){
	 
	})

</script>